/* 
    Document   : default.ctp.css
    Created on : Oct 22, 2013, 1:24:35 PM
    Author     : Henry
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.fleft{
    float: left;
}
.fright{
    float: right;
}

.marginLR10{
    margin-left: 10px;
    margin-right: 10px;
}
#accordion .ui-accordion-content {
height: auto!important;
}

#accordion h3{
    font-weight: bold;
    font-size: 130%;
}
#accordion .task label{
    font-weight: bold!important;
    display: inline!important;
}
#accordion .task a.task_edit{
    cursor: pointer;
}


