/* 
    Document   : default.ctp.css
    Created on : Oct 22, 2013, 1:24:35 PM
    Author     : Henry
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.fleft{
    float: left;
}
.fright{
    float: right;
}
.clear{
    clear: both;
}
.marginLR10{
    margin-left: 10px;
    margin-right: 10px;
}

/* task list css */

#accordion h3{
    font-weight: bold;
    font-size: 120%;
    margin-top: 10px;
}
#tasklistcontainer  label{
    font-weight: bold!important;
    display: inline!important;
}
#accordion .task a{
    cursor: pointer;
}
#accordion .task a:hover{
    color: orange;
}
#tasklistcontainer hr{
    margin-bottom: 10px;
}
#tasklistcontainer #newtask{
    padding: 1em 2.2em;
    overflow: auto;
    width: 436px;
    margin: 10px 0;
}
#tasklistcontainer .hasDatepicker{
    width: 200px;
}
#tasklistcontainer input[type=radio]{
    float: none;
    margin: 0 5px;
}
.flowingdefaultText { width: 300px; }
.flowingdefaultTextActive { color: #a1a1a1; font-style: italic; }

#newtask_title{
    font-size: 130%;
    font-weight: bold;
}
#newtask_desc,div.task textarea{
    font-size: 110%;
}
#newtask_title, #newtask_desc,div.task textarea{
    border: none;
    width: 100%;
    padding-left: 0;
}
#newtask_title:focus, #newtask_desc:focus,div.task textarea:focus{
    outline: 0;
}
.newtask_controls,.edittask_controls{
    float: right;
}
.newtask_controls a{
    margin-top: 10px;
    margin-right: 10px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }