/* 
    Document   : default.ctp.css
    Created on : Oct 22, 2013, 1:24:35 PM
    Author     : Henry
    Description:
        Purpose of the stylesheet follows.
*/


#calendar #dateSelect{
    padding: 0.2em;
    width: auto;
}

#calendar #toolbar{
    padding:3px; vertical-align: middle; white-space:nowrap; overflow: hidden;
}

/* for calendar wallpapers 
*/
.JFrontierCal.wallpaper  .JFrontierCal-Day-Cell-Today{
    background-color: #92c4bb !important;
}
.JFrontierCal.scenica{
    background: url('../../../img/wallpapers/scenica.jpg');
}

.JFrontierCal.cal_green{
    background: url('../../../img/wallpapers/cal_green.jpg');
}
.JFrontierCal.cal_love{
    background: url('../../../img/wallpapers/cal_love.jpg');
}
.JFrontierCal.cal_soothing{
    background: url('../../../img/wallpapers/cal_soothing.jpg');
}