/* 
    Document   : default.ctp.css
    Created on : Oct 22, 2013, 1:24:35 PM
    Author     : Henry
    Description:
        Purpose of the stylesheet follows.
*/

/* resetting what cakephp' generic css has */
/*label {
    font-size: 1em;
}*/
body{
    background: #657959;
}

a:hover{
    color: #fff;
}
a{
    color: #003D4C;/*#91c4ba;*/
}
#header a, #footer a {
    color: #FFA500;
}

fieldset{
    margin: 0;
}
form {
    display: block;
    margin: 0;
    width: auto;
}
table tr td,table {
    padding: 0;
    margin: 0;
    vertical-align: auto;
    border: none;
    border-bottom: 0;
}
.flowinghours input, .flowinghours textarea{

    width: auto;
    padding: 0;
}
.flowinghours{
}
.ui-dialog-content table tr td{
    vertical-align: middle;
}
form div{
    clear: both;
    margin-bottom: 0;
    padding: 0;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
/**/
root { 
    display: block;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.clear{
    clear: both;
}
.marginLR10{
    margin-left: 10px;
    margin-right: 10px;
}

.invisible{
    display: none;
}


/*users css */

.users fieldset {
    padding-top: 5px;
    margin:10px;
    width:300px;
    background-color:#6C8D56;
    position: relative;
} 
fieldset legend {
    color: #FFF;

}
.actions li a{
    background: #CBDCCC url(../../jquery-ui/soothing/images/ui-bg_glass_75_cbdccc_1x400.png) 50% 50% repeat-x;
}

.actions li a:hover,.actions li a:active{
    color: white;

    background: #63AB9D url(../../jquery-ui/soothing/images/ui-bg_glass_75_63ab9d_1x400.png) 50% 50% repeat-x;
}

.users.form{
    background: #BBCB80;
}

.users  form div {
    clear: both;
    margin-bottom: 1em;
    padding: .5em;
    vertical-align: text-top;
}
.users .submit input {
    margin-left: 18px;
    width: 250px;
}

a .users{
    margin-left: 25px;
}

.users table tr td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #DDD;
}


#content{
    background-color:#99B15D;
    padding-top: 20px;
}

.success,
.message,
.cake-error,
p.error,
.error-message {
    clear: both;
    color: #fff;
    background: #AA5D2F;
}


